<div class="header">
  <img class="header-icon" src="../assets/y18.gif"/>
  <h4 class="header-title">Hacker News</h4>
  <div class="header-links">
    <a matLine routerLink="/">new</a>&nbsp;|&nbsp;
    <a matLine routerLink="/">past</a>&nbsp;|&nbsp;
    <a matLine routerLink="/">comments</a>&nbsp;|&nbsp;
    <a matLine routerLink="/">ask</a>&nbsp;|&nbsp;
    <a matLine routerLink="/">show</a>&nbsp;|&nbsp;
    <a matLine routerLink="/">jobs</a>&nbsp;|&nbsp;
    <a matLine routerLink="/">submit</a>
  </div>
</div>

<router-outlet></router-outlet>