<div style="padding: 13px;">
  <mat-spinner *ngIf="stories.length === 0"></mat-spinner>

  <mat-card *ngFor="let story of stories" style="margin-top:10px;">
    <mat-card-header>
        <mat-card-title>{{story.title}}</mat-card-title>
        <mat-card-subtitle>
          {{story.score}} points by {{story.by}} {{story.time | dateAgo}} | 
          <button mat-button>hide</button>
          |&nbsp;{{story.kids.length}} comments
        </mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</div>